In [4]:
import yfinance as yf

In [5]:
def process_yf_data(ticker: yf.ticker.Ticker, symbol_name: str):
    df = ticker.history(period="3mo").reset_index()
    df.columns = map(str.lower, df.columns)
    drop_col = ['dividends', 'stock splits', 'capital gains']
    df = df.drop(drop_col, axis=1)
    df.columns = ['date'] + [f'{symbol_name}_{col}' for col in df.columns if col != 'date']
    return df

In [6]:
spy = yf.Ticker("SPY")
qqq = yf.Ticker("QQQ")

df_prepare = process_yf_data(spy, 'spy').merge(process_yf_data(qqq, 'qqq'), on='date')

In [7]:
df_prepare

,date,spy_open,spy_high,spy_low,spy_close,spy_volume,qqq_open,qqq_high,qqq_low,qqq_close,qqq_volume
0,2024-02-12 00:00:00-05:00,499.617667,501.940437,498.690525,499.428253,56502300,436.362999,438.560106,434.076015,434.765106,33203300
1,2024-02-13 00:00:00-05:00,492.998240,495.550308,489.200043,492.549622,113099200,426.715758,430.700479,424.768321,427.984070,64491700
2,2024-02-14 00:00:00-05:00,495.251241,497.524178,492.868629,497.025726,68387800,430.690515,433.077344,428.313653,432.647919,45092700
3,2024-02-15 00:00:00-05:00,497.743502,500.644492,497.254999,500.455078,61683000,433.347001,434.405599,430.760394,433.936218,38796100
4,2024-02-16 00:00:00-05:00,500.146049,501.312408,497.205174,497.962830,75461200,434.315737,434.415581,429.282384,430.001434,53661500
...,...,...,...,...,...,...,...,...,...,...,...
58,2024-05-06 00:00:00-04:00,513.750000,516.609985,513.299988,516.570007,47264700,437.299988,440.339996,436.519989,440.250000,30227200
59,2024-05-07 00:00:00-04:00,517.559998,518.570007,516.450012,517.140015,52561300,440.700012,441.970001,439.579987,440.320007,30996100
60,2024-05-08 00:00:00-04:00,515.260010,517.739990,515.140015,517.190002,42047200,437.670013,441.480011,437.549988,440.059998,24896700
61,2024-05-09 00:00:00-04:00,517.380005,520.210022,516.710022,520.169983,43643700,440.329987,441.600006,438.459991,441.019989,24580100
62,2024-05-10 00:00:00-04:00,521.809998,522.640015,519.590027,520.840027,52142400,442.540009,444.309998,440.500000,442.059998,27066900

In [8]:
df_prepare.to_csv('data/stock_data.csv', index=False)